  <nav class="navbar-left">

    <!--Row Icon Twitter-->
    <div class="icon-twitter pb-1">
      <div class="row justify-content-center pt-4">
        <div class="col-auto">
          <span class="mt-3 text-center" style="float:right;">
            <%= link_to '<i class="fab fa-phoenix-framework fa-3x color-blue mr-3 zoom-icon"></i>'.html_safe, root_path %>
          </span>
          <p class="color-blue font-weight-bold whiper">WHISPER</p>
        </div>
      </div>
    </div>

    <!--Row Home-->
    <%if user_signed_in? %>
    <div class="row text-white mt-4 ">
      <div class="col-4 text-right pr-0">
        <i class="fas fa-house-damage fa-sm color-blue"></i>
      </div>
      <div class="col-5 color-gray menu-left">
        <p><strong><%= link_to "Home", root_path, class: "text-decoration-none color-gray"%></strong></p>
      </div>
    </div>
    <% end %>

    <!--Row Explorar-->
    <div class="row text-white mt-0">
      <div class="col-4 text-right pr-0">
        <i class="fas fa-hashtag fa-sm color-blue"></i>
      </div>
      <div class="col-5 color-gray menu-left">
        <p><strong><%= link_to "Explorar", all_whispers_path, class: "text-decoration-none color-gray"%></strong></p>
      </div>
    </div>

  <!--Validar Login-->
  <%if user_signed_in? %>
    <!--Row My Profile-->
    <div class="row text-white mt-0">
      <div class="col-4 text-right pr-0">
        <i class="fas fa-user fa-sm color-blue"></i>
      </div>
      <div class="col-5 color-gray menu-left">
        <p><strong><%= link_to "Mi Perfil", home_profile_path, class: "text-decoration-none color-gray"%></strong></p>
      </div>
    </div>

    <!--Row Configuracion-->
    <div class="row text-white mt-0">
      <div class="col-4 text-right pr-0">
        <i class="fas fas fa-cog fa-sm color-blue"></i>
      </div>
      <div class="col-5 color-gray menu-left">
        <p><strong><%= link_to "Configuracion", edit_user_registration_path, class: "text-decoration-none color-gray"%></strong></p>
      </div>
    </div>

    <!--Row Admin-->
    <% if current_user.admin %>
    <div class="row text-white mt-0">
      <div class="col-4 text-right pr-0">
        <i class="fas fa-tools fa-sm color-blue"></i>
      </div>
      <div class="col-5 color-gray menu-left">
        <p><strong><%= link_to "Administracion", admin_user_path(current_user), class: "text-decoration-none color-gray"%></strong></p>
      </div>
    </div>
    <% end %>
    
    <!--Row Cerrar Sesion-->
      <div class="rounded-pill mx-2 devise-how pb-2">
        <div class="row justify-content-md-center align-items-center"  >
          <div class="col-2">
            <%= image_tag(current_user.photo_url, class: "photo-avatar-session rounded-circle ", alt: "Avatar Session")%>
          </div>
          <div class="col-6">
            <strong><i class="text-warning text-13">@<%= current_user.username.capitalize %></i></strong><br>
            <i class="color-gray text-8"><i class="fas fa-envelope">&nbsp;</i><%= current_user.email %></i>
          </div>
          <div class="col-1 " style="margin:0px; padding:0px;">
            <i class="fas fa-angle-down fa-lg text-white btn"  style="margin:0px; padding:0px;"  data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"></i>
          </div>
        </div>
      </div>

      <!--Collapse Boton-->
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body bg-gray rounded-0" >
              <%= link_to '<i class="fas fa-sign-out-alt"></i>&nbsp;Cerrar Sesion'.html_safe , destroy_user_session_path, method: :get, class: "text-center font-weight-bolder border-white text-white text-13" %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  </nav>
